<%= simple_form_for(@component) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :parent_id %>
  
  <div class="form-inputs">
    <label><strong>TITLE</strong></label>
    <%= f.input :title, label: false %>
    <label><strong>DESCRIPTION</strong></label>
    <%= f.input :description, label: false %>
    <label><strong>USE</strong></label>
    <%= f.input :use, label: false %>
    <label><strong>GRAPH</strong></label>
    <%= f.input :graph, label: false %>
    <label><strong>ANCESTRY</strong></label>
    <%= f.input :ancestry, label: false %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: "button" %>
  </div>
<% end %>
