<div class="row">
  <div class="small-12 columns">

    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form"><%= link_to 'Edit', edit_component_path(@component), class: "info button" %></li> 
          <li class="divider"></li>
          <li class="has-form"><%= link_to 'Delete', @component , method: :delete, class: "alert button" %></li>
          <li class="divider"></li> 
        </ul>
        <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li class="has-form">
            <%= link_to 'Add Child', new_component_path(parent_id: @component), class: "success button" %>
          </li>
          <li class="divider"></li> 
            <li class="has-form"><%= link_to 'Add Class', new_unit_path(component_id: @component), class: "red button" %></li>
          <li class="divider"></li> 
            <li class="has-form"><a href="#" data-reveal data-reveal-id="addPackage" class="button blue">Add Package Relation</a></li>
          <li class="divider"></li>
            <li class="has-form"><%= link_to 'Add Integration Test', new_integration_test_path(comp_id: @component), class: "button velvet" %></li>
          </ul>
      </section>
    </nav>
    <br><br>
    <div class="row">
      <div class="small-12 columns panel">
        <h4>COMPONENT</h4><br><br>
        <div class="row">
          <div class="small-12 medium-6 medium-centered columns">
            <div class="row">
                <div class="small-12 columns">
                  <h4>
                    <% @component.ancestors.each do |p| %>
                        <%= link_to(p.get_name, component_path(p)) + "::" %> 
                    <% end %>
                    <%= @component.get_name %>
                  </h4>
                </div>
            </div>
            <div class="row"> 
                <%= @component.graph.html_safe%>
            </div>
            <br>
            <div class="row">
              <div class="small-12 columns show_wrapper">  
                <p>
                  <label><strong>DESCRIZIONE</strong></label>
                  <span><%= @component.description %></span>
                </p>
                <% if !@component.use.empty? %>
                <p>
                  <label><strong>UTILIZZO</strong></label>
                  <span><%= @component.use %></span>
                </p>
                <% end %>
                <% if !@component.children.empty?  %>
                  <label><strong>PACKAGE CONTENUTI</strong></label>
                  <ul>
                    <% @component.children.each do |pkg| %>
                      <li><%= link_to pkg.title, component_path(pkg) %></li>
                    <% end %>
                  </ul>
                <% end %>
                <% if !@component.packages.empty?  %>
                  <label><strong>INTERAZIONI CON ALTRE COMPONENTI</strong></label>
                  <ul>
                    <% @component.packages.each do |pkg| %>
                      <li><%= link_to pkg.title, component_path(pkg) %></li>
                    <% end %>
                  </ul>
                <% end %>  
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns panel">
        <h4>INNER CLASSES</h4><br>
        <% if !@component.units.empty? %>
          <% @component.units.each do |unit| %>
            <%=  nested_units unit.subtree.arrange %>
          <% end %>
        <% else %>
          <p>No Inner Classes.</p>
        <% end %>
      </div>      
    </div>
    <div class="row">
      <div class="small-12 columns panel">
        <h4>INTEGRATION TEST</h4><br>
        <% if !@component.integration_test.nil? %>
            <div class="panel">
              <label><strong><%= link_to @component.integration_test.title, @component.integration_test %></strong></label>
              <span><%= @component.integration_test.description %></span>
            </div>
        <% else %>
          <p>No Integration Test associated.</p>
        <% end %>
      </div>      
    </div>
  </div>
</div>

<!-- MODAL WINDOW FOR UML<->REQUIREMENTS ASSOCIATIONS -->
<div id="addPackage" class="reveal-modal" data-reveal>
  <h3>SET PACKAGE INTERACTION</h3>

  <div class="row">
    <%= form_for @component do |f| %>
    <div class="medium-12 columns">
      <div class="panel">  
        <label><strong>PACKAGES</strong></label>
        <p>
            <%= f.collection_check_boxes(:package_ids, @packages, :id, :title ) do |b|
                  b.label { b.check_box + "\ " + b.text } 
                end 
            %>
        </p>
      </div> 
    </div>

  <div class="row">
    <div class="small-4 small-centered columns">
      <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>
  <a class="close-reveal-modal">&#215;</a>        
</div>