<div class="row">
  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-6 columns">
        <h1>Listing System Test</h1>
      </div>
      <div class="small-6 columns">      
        <%= link_to 'New System Test', new_system_test_path, class: "button right" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Status</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @system_tests.each do |system_test| %>
              <tr>
                <td><%= system_test.title %></td>
                <td><%= system_test.status %></td>
                <td><%= system_test.description %></td>
                <td><%= link_to 'Show', system_test %></td>
                <td><%= link_to 'Edit', edit_system_test_path(system_test) %></td>
                <td><%= link_to 'Destroy', system_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
