<div class="row">
  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-6 columns">
        <h1>Listing Data Fields</h1>
      </div>
      <div class="small-6 columns">      
        <%= link_to 'New Data Field', new_data_field_path, class: "button right" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-12 columns">
        <table width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th width="5%"></th>
              <th width="4%"></th>
              <th width="6%"></th>
            </tr>
          </thead>

          <tbody>
            <% @data_fields.each do |data_field| %>
              <tr>
                <td><%= data_field.name %></td>
                <td><%= link_to 'Show', data_field %></td>
                <td><%= link_to 'Edit', edit_data_field_path(data_field) %></td>
                <td><%= link_to 'Destroy', data_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
