<div class="row">
  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-6 columns">
        <h1>Listing Use Cases</h1>
      </div>
      <div class="small-6 columns">
        <%= link_to 'Export Table', export_use_cases_path, class: "button right dark" %>  
        <%= link_to 'New Use case', new_use_case_path, class: "button right" %>
      </div>
    </div>
    <br>

    <!-- UCU - Utente -->
    <div class="row">
      <div class="small-12 columns">
        <label><strong>UCU - AMBITO UTENTE</strong></label>
        <table width="100%">
          <thead>
            <tr>
              <th width="170">Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @UCU.each do |use_case| %>
              <tr>
                <td><%= link_to use_case.title, use_case_path(use_case) %></td>
                <td><%= use_case.description %></td>
                <td><%= link_to 'Show', use_case %></td>
                <td><%= link_to 'Edit', edit_use_case_path(use_case) %></td>
                <td><%= link_to 'Destroy', use_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- UCS - Framework -->
    <div class="row">
      <div class="small-12 columns">
        <label><strong>UCS - AMBITO SVILUPPATORE</strong></label>
        <table width="100%">
          <thead>
            <tr>
              <th width="170">Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @UCS.each do |use_case| %>
              <tr>
                <td><%= link_to use_case.title, use_case_path(use_case) %></td>
                <td><%= use_case.description %></td>
                <td><%= link_to 'Show', use_case %></td>
                <td><%= link_to 'Edit', edit_use_case_path(use_case) %></td>
                <td><%= link_to 'Destroy', use_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- UCM - MaaS -->
    <div class="row">
      <div class="small-12 columns">
        <label><strong>UCM - AMBITO UTENTE MAAS</strong></label>
        <table width="100%">
          <thead>
            <tr>
              <th width="170">Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @UCM.each do |use_case| %>
              <tr>
                <td><%= link_to use_case.title, use_case_path(use_case) %></td>
                <td><%= use_case.description %></td>
                <td><%= link_to 'Show', use_case %></td>
                <td><%= link_to 'Edit', edit_use_case_path(use_case) %></td>
                <td><%= link_to 'Destroy', use_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>