<div class="row">
  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-6 columns">
        <h2>Download LaTeX</h2>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <table width="100%">
          <tbody>
              <tr>
                <td><%= link_to "Export Use Cases", downloads_use_cases_path %></td>
              </tr>
              <tr>
                <td><%= link_to "Export Requirements", downloads_requirements_path %></td>
              </tr>
              <tr>
              	<td><%= link_to "Export Back-end Components", downloads_backend_specs_path %></td>
              </tr>
              <tr>
              	<td><%= link_to "Export Front-end Components", downloads_frontend_specs_path %></td>
              </tr>
              <tr>
              	<td><%= link_to "Export Back-end Components Definition", downloads_backend_definition_path %></td>
              </tr>
              <tr>
              	<td><%= link_to "Export Front-end Components Definition", downloads_frontend_definition_path %></td>
              </tr>
              <tr>
                <td><%= link_to "Export Test di Sistema - Requisiti", downloads_ts_req_path %></td>
              </tr>
              <tr>
                <td><%= link_to "Export Test di Validazione - Requisiti", downloads_tv_req_path %></td>
              </tr>
              <tr>
                <td><%= link_to "Export Tracciamento Metodi - Test di Unità", downloads_unit_test_tracking_path %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>