<%= form_for(@requirement) do |f| %>
  <% if @requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% @requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :ancestry %>
  <br>
  <div class="row panel">
    <div class="small-4 columns">
      <label><strong>SISTEMA</strong></label>
      <ul class="radio_form_btn">
        <li><%= radio_button("requirement", "system", "A")%>  (A) Application</li>
        <li><%= radio_button("requirement", "system", "F")%>  (F) Framework</li>
        <li><%= radio_button("requirement", "system", "S")%>  (S) MaaS</li>
      </ul>
    </div>
    <div class="small-4 columns">
      <label><strong>TYPOLOGY</strong></label>
      <ul class="radio_form_btn">
        <li><%= radio_button("requirement", "typology", "1")%>  (1) Funzionale</li>
        <li><%= radio_button("requirement", "typology", "2")%>  (2) Prestazionale</li>
        <li><%= radio_button("requirement", "typology", "3")%>  (3) Di Qualità</li>
        <li><%= radio_button("requirement", "typology", "4")%>  (4) Di Vincolo</li>
      </ul>
    </div>
    <div class="small-4 columns">
      <label><strong>PRIORITY</strong></label>
      <ul class="radio_form_btn">
        <li><%= radio_button("requirement", "priority", "O")%>  (O) Obbligatorio</li>
        <li><%= radio_button("requirement", "priority", "D")%>  (D) Desiderabile</li>
        <li><%= radio_button("requirement", "priority", "F")%>  (F) Facoltativo</li>
      </ul>
    </div>
  </div>
  <br><br>

  <div class="row collapse">
    <div class="small-4 columns">
      <label><strong>PREFIX</strong></label>
        <span class="prefix"><%= @prefix %></span>
    </div>
    <div class="small-8 columns">
      <label><strong>GERARCHIA</strong></label>
      <%= f.text_field :hierarchy, :value => @hierarchy %>
    </div>  
  </div>
  <br><br>
  <div class="row">
    <div class="small-12 columns">
      <label><strong>DESCRIZIONE</strong></label>
      <%= f.text_area :description, size: "60x12" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-12 columns">
      <label><strong>STATUS</strong></label>
      <br>
      <%= radio_button("requirement", "status", "false")%><label class="alert label">Pending</label>
      <%= radio_button("requirement", "status", "true")%><label class="success label">Accepted</label>  
    </div>
  </div>
  <br><br><br><br><br>
  <div class="row">
    <div class="small-4 small-centered columns">
      <%= f.submit class: "button" %>
    </div>
  </div>

<% end %>