<div class="row">
  <div class="small-12 columns">

    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form"><%= link_to 'Edit', edit_requirement_path(@requirement), class: "info button" %></li> 
          <li class="divider"></li>
          <li class="has-form"><%= link_to 'Delete', edit_requirement_path(@requirement), class: "alert button" %></li>
          <li class="divider"></li> 
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="has-form">
            <%= link_to 'Add Child', new_requirement_path(parent_id: @requirement, system: @requirement.system,
                                                          typology: @requirement.typology, priority: @requirement.priority,
                                                          hierarchy: @requirement.hierarchy, status: @requirement.status,
                                                          title: @prefix), class: "success button" %>
          </li>
          <li class="divider"></li> 
          <li class="has-form"><%= link_to 'Add UML', "#", class: "button orange" %></li>
          <li class="divider"></li>
          <li class="has-form"><%= link_to 'Add System Test', "#", class: "button purple" %></li>
          <li class="divider"></li> 
          <li class="has-form"><%= link_to 'Add Validation Test', "#", class: "button water" %></li>
          <li class="divider"></li>  
        </ul>

      </section>
    </nav>
  <br><br>
  <div class="row">
    <div class="small-12 columns panel">
      <h4>REQUIREMENT</h4><br>
      <table>
        <thead>
          <tr>
            <th width="100">Status</th>
            <th width="150">Title</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td>
                <% if @requirement.status == false %>
                  <label class="alert label">Pending</label>
                <% else %>
                  <label class="success label">Approved</label>
                <% end %>
              </td>
              <td><%= @requirement.title %></td>
              <td><%= @requirement.description %></td>
            </tr>
              
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-12 columns panel">
      <h4>CHILDS</h4><br>
      <%= nested_requirements @requirement.subtree.arrange %>
    </div>
  </div>

</div>