<%= simple_form_for(@unit_method) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :visibility %>
    <%= f.input :isQuery %>
    <%= f.input :return_type %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
