<div class="row">
  <div class="small-12 columns">

    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form"><%= link_to 'Edit', edit_unit_method_path(@unit_method), class: "info button" %></li> 
          <li class="divider"></li>
          <li class="has-form"><%= link_to 'Delete', @unit_method , method: :delete, class: "alert button" %></li>
          <li class="divider"></li>
          <li class="divider"></li>
          <li class="has-form">
            <%= link_to 'Add Unit Test', new_unit_test_path(unit_method_id: @unit_method), class: "gray button" %>
          </li>
          <li class="divider"></li>  
        </ul>
        <ul class="right">
          <li class="has-form"><%= link_to 'Add Parameters', new_parameter_path(unit_method_id: @unit_method), class: "success button" %></li>
        </ul>
      </section>
    </nav>

    <div class="row">
      <div class="small-12 columns panel">
        <h4>METHOD:  
          <i><strong><%= @unit_method.format_name %></strong></i>  
        </h4><br>
        <table width="100%">
          <tbody>
              <tr>
                <td width="150px"><strong>Name</strong></td>
                <td><%= @unit_method.name %></td>
              </tr>
              <tr>
                <td width="150px"><strong>Visibility</strong></td>
                <td><%= @unit_method.visibility %></td>
              </tr>
              <tr>
                <td width="150px"><strong>Return Type</strong></td>
                <td><%= @unit_method.return_type %></td>
              </tr>
              <tr>
                <td width="150px"><strong>IsQuery</strong></td>
                <td><%= @unit_method.isQuery %></td>
              </tr>
              <tr>
                <td width="150px"><strong>Description</strong></td>
                <td> <%= @unit_method.description %></td>
              </tr>
              <tr>
                <td width="150px"><strong>Used by class:</strong></td>
                <td> <%= link_to @unit_method.unit.title, @unit_method.unit %></td>
              </tr>
              <tr>
                <td width="150px"><strong>Parameters:</strong></td>
                <td>
                  <ul> 
                    <% @unit_method.parameters.each do |p| %>
                      <li><%= link_to p.name, p %></li> 
                    <% end %>
                  </ul>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row panel">
      <div class="small-12 columns">
        <h4>UNIT TEST</h4><br>
        <% if @unit_method.unit_test %>

            <div class="panel">
              <label><strong><%= link_to @unit_method.unit_test.title, @unit_method.unit_test %></strong></label>
              <span><%= @unit_method.unit_test.description %></span>
            </div>

        <% else %>
            <label><strong>No Unit Test associated.</strong></label>
        <% end %>
      </div>
    </div>
    <br>
    <%= link_to '<--Back', unit_path(@unit_method.unit) %>
  </div>
</div>
