<%= simple_form_for(@unit) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :component_id %>
  <%= f.hidden_field :ancestry %>
  
  <div class="form-inputs">
    <label><strong>TITLE</strong></label>
    <%= f.input :title, label: false %>
    <label><strong>DESCRIPTION</strong></label>
    <%= f.input :description, label: false %>
    <label><strong>TYPOLOGY</strong></label>
    <%= f.input :typology, label: false, collection: ["class", "abstract class", "interface"] %>
    <label><strong>USE</strong></label>
    <%= f.input :use, label: false %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: "button" %>
  </div>
<% end %>

