<div class="row">
  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-6 columns">
        <h1>Listing Classes</h1>
      </div>
      <div class="small-6 columns">      
        <%= link_to 'New Class', new_unit_path, class: "button right" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-12 columns">
      <label><strong>FRONT-END</strong></label>
        <table width="100%">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @frontend.each do |unit| %>
              <tr>
                <td><%= link_to unit.full_title, unit_path(unit) %></td>
                <td><%= unit.description %></td>
                <td><%= link_to 'Show', unit %></td>
                <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-12 columns">
      <label><strong>BACK-END</strong></label>
        <table width="100%">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @backend.each do |unit| %>
              <tr>
                <td><%= link_to unit.full_title, unit_path(unit) %></td>
                <td><%= unit.description %></td>
                <td><%= link_to 'Show', unit %></td>
                <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <% if !@other.empty? %>
    <div class="row">
      <div class="small-12 columns">
      <label><strong>OTHER CLASSES</strong></label>
        <table width="100%">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @other.each do |unit| %>
              <tr>
                <td><%= link_to unit.full_title, unit_path(unit) %></td>
                <td><%= unit.description %></td>
                <td><%= link_to 'Show', unit %></td>
                <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>
