<div class="row">
  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-6 columns">
        <h1>Listing Classes</h1>
      </div>
      <div class="small-6 columns">      
        <%= link_to 'New Class', new_unit_path, class: "button right" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-12 columns">
      <label><strong>FRONT-END</strong></label>
        <table width="100%">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr class="table-separator">
              <td><strong>Controllers:</strong></td>
            </tr>
            <% front_services = []
               front_models = []
            %>
            <% @frontend.each do |unit| %>
              <% if unit.full_title.include?("Controller") %>
                <tr>
                  <td><%= link_to unit.full_title, unit_path(unit) %></td>
                  <td><%= unit.description %></td>
                  <td><%= link_to 'Show', unit %></td>
                  <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                  <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <td class="disabled button <%= unit.attention_level %>">Mancano <%= unit.missing %> test</td>
                </tr>
              <% elsif unit.full_title.include?("Service") %>
                  <% front_services << unit %>
              <% else %>
                  <% front_models << unit %>
              <% end %>
            <% end %>
            <tr class="table-separator">
              <td><strong>Models:</strong></td>
            </tr>
            <% front_models.each do |unit| %>
              <tr>
                <td><%= link_to unit.full_title, unit_path(unit) %></td>
                <td><%= unit.description %></td>
                <td><%= link_to 'Show', unit %></td>
                <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td class="disabled button <%= unit.attention_level %>">Mancano <%= unit.missing %> test</td>
              </tr>
            <% end %>
            <tr class="table-separator">
              <td><strong>Services:</strong></td>
            </tr>
            <% front_services.each do |unit| %>
              <tr>
                <td><%= link_to unit.full_title, unit_path(unit) %></td>
                <td><%= unit.description %></td>
                <td><%= link_to 'Show', unit %></td>
                <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td class="disabled button <%= unit.attention_level %>">Mancano <%= unit.missing %> test</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-12 columns">
      <label><strong>BACK-END</strong></label>
        <table width="100%">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr class="table-separator">
              <td><strong>Controllers:</strong></td>
            </tr>
            <% back_models = []
               back_view = []
               back_other = []
            %>
            <% @backend.each do |unit| %>
              <% if unit.full_title.include?("Controller") %>
                <tr>
                  <td><%= link_to unit.full_title, unit_path(unit) %></td>
                  <td><%= unit.description %></td>
                  <td><%= link_to 'Show', unit %></td>
                  <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                  <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <td class="disabled button <%= unit.attention_level %>">Mancano <%= unit.missing %> test</td>
                </tr>
              <% elsif unit.full_title.include?("Model") %>
                  <% back_models << unit %>
              <% elsif unit.full_title.include?("View") %>
                  <% back_view << unit %>
              <% else %>
                  <% back_other << unit %>
              <% end %>
            <% end %>
            <tr class="table-separator">
              <td><strong>Models:</strong></td>
            </tr>
            <% back_models.each do |unit| %>
              <tr>
                <td><%= link_to unit.full_title, unit_path(unit) %></td>
                <td><%= unit.description %></td>
                <td><%= link_to 'Show', unit %></td>
                <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td class="disabled button <%= unit.attention_level %>">Mancano <%= unit.missing %> test</td>
              </tr>
            <% end %>
            <tr class="table-separator">
              <td><strong>View:</strong></td>
            </tr>
            <% back_view.each do |unit| %>
              <tr>
                <td><%= link_to unit.full_title, unit_path(unit) %></td>
                <td><%= unit.description %></td>
                <td><%= link_to 'Show', unit %></td>
                <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td class="disabled button <%= unit.attention_level %>">Mancano <%= unit.missing %> test</td>
              </tr>
            <% end %>
            <tr class="table-separator">
              <td><strong>Other:</strong></td>
            </tr>
            <% back_other.each do |unit| %>
              <tr>
                <td><%= link_to unit.full_title, unit_path(unit) %></td>
                <td><%= unit.description %></td>
                <td><%= link_to 'Show', unit %></td>
                <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td class="disabled button <%= unit.attention_level %>">Mancano <%= unit.missing %> test</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <% if !@other.empty? %>
    <div class="row">
      <div class="small-12 columns">
      <label><strong>OTHER CLASSES</strong></label>
        <table width="100%">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @other.each do |unit| %>
              <tr>
                <td><%= link_to unit.full_title, unit_path(unit) %></td>
                <td><%= unit.description %></td>
                <td><%= link_to 'Show', unit %></td>
                <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
                <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td class="disabled button <%= unit.attention_level %>">Mancano <%= unit.missing %> test</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>
