<div class="row">
  <div class="small-12 columns">

    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form"><%= link_to 'Edit', edit_unit_path(@unit), class: "info button" %></li> 
          <li class="divider"></li>
          <li class="has-form"><%= link_to 'Delete', @unit , method: :delete, class: "alert button" %></li>
          <li class="divider"></li> 
        </ul>
        <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li> 
              <li class="has-form">
                <%= link_to 'Add Data Field', new_data_field_path(unit_id: @unit), class: "gray button" %>
              </li>
            <li class="divider"></li>
              <li class="has-form">
                <%= link_to 'Add Method', new_unit_method_path(unit_id: @unit), class: "orange button" %>
              </li>
            <li class="divider"></li>
            <li class="has-form">
              <%= link_to 'Add Child', new_unit_path(parent_id: @unit, component_id: @unit.component_id), class: "success button" %>
            </li>
            <li class="divider"></li> 
              <li class="has-form"><a href="#" data-reveal data-reveal-id="addClass" class="button red">Add Class Relation</a></li>
            <li class="divider"></li> 
              <li class="has-form"><a href="#" data-reveal data-reveal-id="addPackage" class="button blue">Set Package</a></li>
          </ul>
      </section>
    </nav>
    <br><br>
    <div class="row">
      <div class="small-12 columns panel">
        <h4>CLASS</h4><br><br>
        <div class="row">
          <div class="small-6 small-centered columns">
            <div class="row">
                <h5>
                  <% if !@unit.component_id.nil? %>
                    <%= link_to(@component.title, component_path(@component)) + "::"  %>
                  <% end %>
                  <% @unit.ancestors.each do |p| %>
                      <%= link_to(p.get_name, unit_path(p)) + "::" %> 
                  <% end %>
                  <%= @unit.get_name %>
                </h5>
            </div>
            <br>
            <div class="row">
              <div class="small-12 columns show_wrapper">  
                <p>
                  <label><strong>DESCRIZIONE</strong></label>
                  <span><%= @unit.description %></span>
                </p>
                <p>
                  <label><strong>TIPOLOGIA</strong></label>
                  <span><%= @unit.typology %></span>
                </p>
                <% if !@unit.use.empty? %>
                <p>
                  <label><strong>UTILIZZO</strong></label>
                  <span><%= @unit.use %></span>
                </p>
                <% end %>
                <% if !@unit.ancestors.empty?  %>
                  <label><strong>CLASSI EREDITATE</strong></label>
                  <ul>
                    <% @unit.ancestors.each do |pkg| %>
                      <li><%= link_to pkg.title, unit_path(pkg) %></li>
                    <% end %>
                  </ul>
                <% end %>
                <% if !@unit.descendants.empty?  %>
                  <label><strong>CLASSI FIGLIE</strong></label>
                  <ul>
                    <% @unit.descendants.each do |pkg| %>
                      <li><%= link_to pkg.title, unit_path(pkg) %></li>
                    <% end %>
                  </ul>
                <% end %>
                <% if !@unit.units.empty?  %>
                  <label><strong>RELAZIONI CON ALTRE CLASSI</strong></label>
                  <ul>
                    <% @unit.units.each do |pkg| %>
                      <li><%= link_to pkg.title, unit_path(pkg) %></li>
                    <% end %>
                  </ul>
                <% end %>  
              </div>
            </div>  
          </div>
        </div>
        <br><br>
        <h4>REPRESENTATION:</h4><br><br>
        <div class="row">
          <div class="small-6 small-centered columns">
            <div class="class-header">              
              <% if @unit.typology == "abstract class" %>
                <div><strong><i><%= @unit.get_name %></i><strong></div>                  
              <% elsif @unit.typology == "interface" %>
                  <div><strong><< interface >> <%= @unit.get_name %></strong></div>
              <% else %>
                <div><strong><%= @unit.get_name %></strong></div>
              <% end %>
            </div>
            <div class="class-data">
              <% @unit.data_fields.each do |df| %>
                <div><%= link_to df.format_name, df %></div>
              <% end %>
            </div>
            <div class="class-methods"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- MODAL WINDOW FOR Class<->Class ASSOCIATIONS -->
<div id="addClass" class="reveal-modal" data-reveal>
  <h3>SET CLASS RELATIONS</h3>

  <div class="row">
    <div class="medium-12 columns">
    <%= form_for @unit do |f| %>
      <div class="row">
        <div class="panel small-12 medium-6 columns">  
          <label><strong>FRONT-END</strong></label>
          <p>
              <%= f.collection_check_boxes(:unit_ids, @frontend, :id, :title ) do |b|
                    b.label { b.check_box + "\ " + b.text } 
                  end 
              %>
          </p>
        </div>
        <div class="panel small-12 medium-6 columns">  
          <label><strong>BACK-END</strong></label>
          <p>
              <%= f.collection_check_boxes(:unit_ids, @backend, :id, :title ) do |b|
                    b.label { b.check_box + "\ " + b.text } 
                  end 
              %>
          </p>
        </div>  
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="small-4 small-centered columns">
      <%= f.submit class: "button" %>
    </div>
  </div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>

</div>

<!-- MODAL WINDOW FOR Class<->Package ASSOCIATIONS -->
<div id="addPackage" class="reveal-modal" data-reveal>
  <h3>ADD PACKAGE</h3>

  <div class="row">
    <%= form_for @unit do |f| %>
    <div class="medium-12 columns">
      <div class="panel">  
        <label><strong>COMPONENTS</strong></label>
        <p>
            <%= f.collection_radio_buttons(:component_id, @components, :id, :title ) do |b|
                  b.label { b.radio_button + "\ " + b.text } 
                end 
            %>
        </p>
      </div> 
    </div>

  <div class="row">
    <div class="small-4 small-centered columns">
      <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>
  <a class="close-reveal-modal">&#215;</a>        
</div>