<%# add navigation links to this file %>
<% if user_signed_in? %>
	<!-- Left Nav Section -->
	<ul class="left">
	  <li><%= link_to "Requirements", requirements_path %></li>
	  <li><%= link_to "Use Cases", use_cases_path %></li>
	  <li><%= link_to "System Tests", system_tests_path %></li>
	  <li><%= link_to "Validation Tests", validation_tests_path %></li>
	</ul>
<% end %>

<!-- Right Nav Section -->
<ul class="right">
	<li><a href="/">Home</a></li>

	<% if user_signed_in? %>
	  <li class="has-dropdown">
	    <%= link_to current_user.email, "#" %>
	    <ul class="dropdown">
	      <li class="active"><%= link_to "Edit profile", edit_user_registration_path %></li>
	      <li class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	    </ul>
	  </li>
	<% else %>
		<li class="active"><%= link_to "Sign in", new_user_session_path %></li>
	<% end %>

</ul>
