<div class="row">
  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-6 columns">
        <h1>Listing Parameters</h1>
      </div>
      <div class="small-6 columns">      
        <%= link_to 'New Data Field', new_parameter_path, class: "button right" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-12 columns">
        <table width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th width="5%"></th>
              <th width="4%"></th>
              <th width="6%"></th>
            </tr>
          </thead>

          <tbody>
            <% @parameters.each do |parameter| %>
              <tr>
                <td><%= parameter.name %></td>
                <td><%= link_to 'Show', parameter %></td>
                <td><%= link_to 'Edit', edit_parameter_path(parameter) %></td>
                <td><%= link_to 'Destroy', parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
