<div class="row">
  <div class="small-12 columns">

    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form"><%= link_to 'Edit', edit_parameter_path(@parameter), class: "info button" %></li> 
          <li class="divider"></li>
          <li class="has-form"><%= link_to 'Delete', @parameter , method: :delete, class: "alert button" %></li>
          <li class="divider"></li> 
        </ul>
      </section>
    </nav>

    <div class="row">
      <div class="small-12 columns panel">
        <h4>PARAMETER </h4><br>
        <table width="100%">
          <tbody>
              <tr>
                <td width="150px"><strong>Name</strong></td>
                <td><strong><%= @parameter.name %></strong></td>
              </tr>
              <tr>
                <td width="150px"><strong>Type</strong></td>
                <td><%= @parameter.parameter_type %></td>
              </tr>
              <tr>
                <td width="150px"><strong>Description</strong></td>
                <td> <%= @parameter.description %></td>
              </tr>
              <tr>
                <td width="150px"><strong>Used by method:</strong></td>
                <td> <%= link_to @parameter.unit_method.name, @parameter.unit_method %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <%= link_to '<--Back', unit_method_path(@parameter.unit_method) %>
  </div>
</div>

